mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.actions-center {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
}
.fill-width {
  width: 100%;
  min-width: 150px;
}
.min-width {
  width: 100%;
  min-width: 150px;
}
